.MainContainer {
  height: 81vh;
  display: flex;
  background: lightgray;
}

.navBar {
  width: 260px;
  height: 100%;
  background: black;
  padding: 10px 10px 0;
  display: flex;
  flex-direction: column;
}

.outerWrap {
  background: grey;
  height: 100vh;
  min-height: 100%;
}

.navBar ul {
  margin: 0;
  padding: 0;
}

.navBar li {
  color: rgba(221, 221, 221, 0.616);
  list-style-type: none;
  border-radius: 5px;
  padding: 0.5rem 0.8rem;
  font-size: 1.4rem;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  display: flex;
  align-items: center;
}

.navBar li:hover {
  background: rgba(221, 221, 221, 0.336);
  border-radius: 5px;
}

.pictureAlbum {
  color: #ddd;
  text-align: center;
  align-items: center;
  width: 100%;
  height: 188px;
  margin-block-start: auto;
  margin-bottom: 12px;
}

#songImg {
  width: 100%;
}

.musicControls {
  background: #ddd;
  text-align: center;
  height: 11vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  z-index: 2;
  position: relative;
  border-top: 1px solid #282828;
  color: white;
  background-color: #282828;
}

#musicControlsContainer {
  width: 100%;
  height: 100%;
}

#song-and-artiste {
  padding: 0;
  display: flex;
  flex-direction: column;
  height: 10vh;
  overflow: hidden;
  justify-content: center;
  box-sizing: content-box;
}

#progress-bar-and-buttons {
  margin: auto;
}

.track-text-info {
  margin-right: auto;
  margin-left: 1rem;
  overflow: hidden;
}

#navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #040404;
  color: white;
  height: 8vh;
}

.navbar-items {
  margin: 0.5rem;
}

.navbar-items a {
  color: grey !important;
}

#spotify-logo-container {
  height: 2rem;
  z-index: 2;
  margin-left: 1.3rem;
  margin-top: 0.5rem;
}

#spotify-logo {
  height: 100%;
}

.lecteur-btn {
  margin-bottom: 0.4rem;
  background-color: transparent;
  border: none;
}

.lecteur-btn:focus {
  text-decoration: none;
  outline: none !important;
}

#shuffle-btn-on {
  margin-bottom: 0.4rem;
  background-color: transparent;
  border: none;
}

#shuffle-btn-on:focus {
  text-decoration: none;
  outline: none !important;
}

#shuffle-btn-off {
  margin-bottom: 0.4rem;
  background-color: transparent;
  border: none;
}

#shuffle-btn-off:focus {
  text-decoration: none;
  outline: none !important;
}

#shuffle-btn-on .icon {
  color: #299149;
}

#lecteur-btn-play-pause {
  margin-bottom: 0.4rem;
  background-color: transparent;
  border: none;
}

#lecteur-btn-play-pause:focus {
  text-decoration: none;
  outline: none !important;
}

#progress-container {
  margin-bottom: 0.2rem;
  margin-top: 0;
  line-height: 0.4rem;
}

#progress-bar {
  height: 0.4rem;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.icon {
  color: #cccccc;
}

.icon:hover {
  color: #e4e4e4;
  transform: scale(1.05);
}

#lecteur-buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

#repeat-0 .icon {
  color: #cccccc;
}

#repeat-1 .icon {
  color: #299149;
}

#repeat-2 .icon {
  color: #299149;
}

#repeat-2:after {
  color: black;
  margin-left: 2px;
  border-radius: 50%;
  position: absolute;
  margin-left: -3px;
  top: 0px;
  width: 13px;
  height: 13px;
  background-color: #299149;
  content: "1";
  font-size: x-small;
}

.tracksList {
  width: -webkit-fill-available;
  width: -webkit-fill-available;
  background-color: brown;
  background: linear-gradient(to top, rgb(0, 0, 0), rgba(255, 255, 255, 0.192));
  overflow: scroll;
  overflow: scroll;
}

table {
  text-align: center;
}
th,
td {
  color: rgb(255, 255, 255);
  font-size: large;
  padding: 15px;
  background-color: #70707000;
}
.topBarPlaylist {
  display: flex;
  height: 300px;
  /* background-color: aquamarine; */
}
.UserName {
  margin-right: 20px;
  margin-left: 10px;
}
.IconNavSideBar .icon {
  margin-right: 15px;
}
